<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>PrimeWire</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?m?primewire\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.)?primewire\.filespook\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.)?primeware\.(?:[^\/]+\/).+</string>
      </array>
    </dict>
    <key>VidBull</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?vidbull\.(?:[^\/]+\/).+</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
