<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>Stagevu</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^http:\/\/stagevu\.com\/video\/.+</string>
      </array>
    </dict>
    <key>VeeHD</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^http:\/\/veehd\.com\/video\/\d+</string>
      </array>
    </dict>
    <key>Vidto</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^http:\/\/vidto\.me/.+</string>
      </array>
    </dict>
    <key>Vidzi</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^vidzi:\/\/(www\.)?vidzi\.tv/.+</string>
      </array>
    </dict>
    <key>WholeCloud</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(www\.)?wholecloud\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?auroravid\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?movshare\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?novamov\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?videoweed\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?bitvid\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?cloudtime\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?nowvideo\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>XFileShare</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(www\.)?daclips\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?filehoot\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?gorillavid\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?movpod\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?powerwatch\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?rapidvideo\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?thevideobee\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?streamin\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?vidtodo\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(www\.)?allmyvideos\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>VShare</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(www\.)?vshare\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>TheVideo</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?thevideo\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>VidUP</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.|beta\.)?vidup\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>VidBull</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?vidbull\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>PromptFile</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?promptfile\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.)?briskfile\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>ShareRepo</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?sharerepo\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>Vid_ag</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?vid\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>FileNuke</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?filenuke\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.)?sharesix\.(?:[^/]+\/).+</string>
      </array>
    </dict>
    <key>NeoDrive</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.)?neodrive\.(?:[^/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.)?cloudzilla\.(?:[^/]+\/).+</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
